@{
    ViewBag.Title = "Home Page";
}



<body ng-app="myApp">

    <runoob-directive></runoob-directive>

    <script>
var app = angular.module("myApp", []);
app.directive("runoobDirective", function() {
    return {
        template : "<h1>自定义指令!</h1>"
    };
});
    </script>

</body>

